<label for="title">Title :</label>
<%= @book.title %><br />
<label for="price">Price :</label>
<%= @book.price %><br />
<label for="quantity">Quantity :</label>
<%= @book.quantity %><br  />

<%= link_to "Delete", book_path(@book), :confirm => "Are you sure?", :method => :delete %>
